@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

* {box-sizing: border-box;}
:root{
    --p-color : #5dc7c2;
    --bg-color:#fff;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
  transition: background 0.2s linear;
}

body.dark {background-color: #161c2c;} /* #9b59b6 */

body.dark h1, body.dark .support a {color: #fff;}

.checkbox {
  opacity: 0;
  position: absolute;
}

.checkbox-label {
  background-color: #2e3241;
  width: 64px;
  height: 32px;
  border-radius: 50px;
  position: relative;
  padding: 5px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.checkbox-label .ball {
  background-color: #5dc7c2;
  width: 28px;
  height: 29px;
  position: absolute;
  left: 2px;
  top: 2px;
  border-radius: 50%;
  transition: transform 0.2s linear;
}

.checkbox:checked + .checkbox-label .ball {
  transform: translateX(29px);
}

.logo{
    height: 3rem;
    width: 15rem;
}
.footer{
    display: flex;
    justify-content: space-between;
}

/* Dropdown Button */
.dropbtn {
    background-color: #2e3241;
    color: white;
    padding: 10px 20px ;
    font-size: 15px;
    border: none;
    cursor: pointer;
    margin: 3px;
    border-radius: 0.50rem;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    background-color: #37393e;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd;}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  /* ------Arrow Code------------ */
  .arrow {
    border: solid rgb(254, 254, 254);
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin-bottom: 3px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  /* ------------------------------- */

  .telegram{
    background-color: var(--p-color);
    height: 2.5rem;
    width: 10rem;
    font-size: 15px;
    border-radius: 0.50rem;
    margin-right: 15px;
    color: white;
  }

  /* ----------------------Circular Timer -------------------*/
  .circleProgress_wrapper {
    position: absolute;
    top: 1rem;
    left: 74.5rem;
    width: 3rem;
    height: 3rem;
    padding-bottom: 2rem;
    text-align: center;
    line-height: 3rem;
    color: #5dc7c2;
}
.right {
    right: 0;
}
.wrapper{
    position: absolute;
    width: 1.5rem;
    height: 3rem;
    top: 0;
    overflow: hidden;
}
.circleProgress{
    width: 2.2rem;
    height: 2.2rem;
    border: .4rem solid #f1f1f1;
    border-radius: 50%;
    box-sizing: content-box;
    position: absolute;
    top: 0;
}
.rightcircle{
    border-top: .4rem solid #5dc7c2;
    border-right: .4rem solid #5dc7c2;
    right: 0;
}
.leftcircle{
    border-bottom: .4rem solid #5dc7c2;
    border-left: .4rem solid #5dc7c2;
    left: 0;
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg)
}
.right_cartoon {
    -webkit-animation: circleProgressLoad_right 60s linear infinite forwards;
    animation: circleProgressLoad_right 60s linear infinite forwards;
}
.left_cartoon {
    -webkit-animation: circleProgressLoad_left 60s linear infinite forwards;
    animation: circleProgressLoad_left 60s linear infinite forwards
}


@keyframes circleProgressLoad_right {
    0% {
        -webkit-transform: rotate(46deg);
        transform: rotate(46deg)
    }

    50%,to {
        -webkit-transform: rotate(-136deg);
        transform: rotate(-136deg)
    }
}

@keyframes circleProgressLoad_left {
    0%,50% {
        -webkit-transform: rotate(46deg);
        transform: rotate(46deg)
    }

    to {
        -webkit-transform: rotate(-136deg);
        transform: rotate(-136deg)
    }
}
  /* --------------- */